In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [5]:
ser_true_values = pd.Series([1,2,3,4,5,6,7,8])
ser_pred_values = pd.Series([2,1,4,3,2,5,7,6])

In [6]:
mean_squared_error(y_true = ser_true_values,
                  y_pred = ser_pred_values)

2.25

In [7]:
mean_squared_error(y_true = ser__true_values,
                  y_pred = ser__pred_values) ** 0.5

1.5

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
bike = pd.read_csv("bike.csv")
bike.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [15]:
bike_train, bike_test = train_test_split(bike, train_size = 0.7)
print(len(bike_train))
print(len(bike_test))

7620
3266

In [16]:
bike_train, bike_test = train_test_split(bike, test_size = 0.3)
print(len(bike_train))
print(len(bike_test))

7620
3266

In [17]:
bike_train, bike_test = train_test_split(bike, test_size = 0.3, random_state = 123)
print(len(bike_train))
print(len(bike_test))

7620
3266

In [18]:
bike_train = bike_train.reset_index(drop = True)
bike_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-09-19 15:00:00,3,0,1,2,24.60,30.305,60,15.0013,44,143,187
1,2012-09-09 07:00:00,3,0,0,1,22.14,25.760,73,11.0014,20,50,70
2,2012-03-04 07:00:00,1,0,0,2,12.30,13.635,52,19.9995,2,21,23
3,2012-02-09 09:00:00,1,0,1,1,8.20,9.850,59,15.0013,9,229,238
4,2012-03-17 07:00:00,1,0,0,2,16.40,20.455,100,8.9981,29,57,86

In [20]:
iris = pd.read_excel("iris_xlsx.xlsx")
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
iris_sub = iris.iloc[:2, :-1]
iris_sub.columns = ["A", "B", "C", "D"]
iris_sub

     A    B    C    D
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2

In [24]:
iris_sub_t = iris_sub.transpose()
iris_sub_t

     0    1
A  5.1  4.9
B  3.5  3.0
C  1.4  1.4
D  0.2  0.2

In [25]:
iris_sub_t["diff_sq"] = (iris_sub_t[0] - iris_sub_t[1]) ** 2
iris_sub_t

     0    1  diff_sq
A  5.1  4.9     0.04
B  3.5  3.0     0.25
C  1.4  1.4     0.00
D  0.2  0.2     0.00

In [26]:
iris_sub_t["diff_sq"].sum() ** 0.5

0.5385164807134502

In [27]:
from scipy.spatial.distance import euclidean

In [28]:
euclidean(iris_sub_t[0], iris_sub_t[1])

0.5385164807134502

In [29]:
iris.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [41]:
i_min = iris["Sepal.Length"].min()
i_max = iris["Sepal.Length"].max()
i_std = iris["Sepal.Length"].std()
print(i_min)
print(i_max)
print(i_std)

iris["SL_MM"] = (iris["Sepal.Length"] - i_min) / (i_max - i_min)
iris.head(2)

print(iris["SL_MM"].max())
print(iris["SL_MM"].min())

4.3
7.9
0.8280661279778629
1.0
0.0

In [42]:
i_mean = iris["Petal.Length"].mean()
i_std = iris["Petal.Length"].std()

iris["PL_std"] = (iris["Petal.Length"] - i_mean) / i_std
iris.head(2)

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,SL_MM,PL_std
0,5.1,3.5,1.4,0.2,setosa,0.222222,-1.335752
1,4.9,3.0,1.4,0.2,setosa,0.166667,-1.335752

In [47]:
print(iris["PL_std"].mean())
print(iris["PL_std"].std())

-1.2922996006636823e-15
0.9999999999999994

In [59]:
x = pd.Series([1,2,3,4,5])

def nor_mm(x):
    i_min = x.min()
    i_max = x.max()
    return (x - i_min) / (i_max - i_min)
print(nor_mm(x))

print("최대값 :", nor_mm(x).max())
print("최소값 :",  nor_mm(x).min())

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64
최대값 : 1.0
최소값 : 0.0

In [74]:
def nor_std(x):
    i_mean = x.mean()
    i_std = x.std()
    return (x - i_mean) / i_std
print(nor_std(x))



print("평균 :", round(nor_std(x).mean(), 2))
print("표준편차 :", nor_std(x).std())

0   -1.264911
1   -0.632456
2    0.000000
3    0.632456
4    1.264911
dtype: float64
평균 : 0.0
표준편차 : 1.0

In [75]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [76]:
model_mm = MinMaxScaler().fit(X = iris[["Sepal.Length"]])

In [77]:
nor_SL = model_mm.transform(iris[["Sepal.Length"]])
nor_SL[:5]

array([[0.22222222],
       [0.16666667],
       [0.11111111],
       [0.08333333],
       [0.19444444]])

In [79]:
print(nor_SL.min())
print(nor_SL.max())

0.0
1.0

In [80]:
SL_mm_test1 = MinMaxScaler().fit_transform(iris[["Sepal.Length"]])
SL_mm_test1[:5]
print(SL_mm_test1.min())
print(SL_mm_test1.max())

0.0
1.0

In [81]:
SL_mm_test2 = MinMaxScaler().fit_transform(iris.loc[:3, ["Sepal.Length"]])
SL_mm_test2

array([[1. ],
       [0.6],
       [0.2],
       [0. ]])

In [88]:
model_mm_test = MinMaxScaler().fit(iris[["Sepal.Length"]])

model_mm_test.transform(iris.loc[:3, ["Sepal.Length"]])

array([[0.22222222],
       [0.16666667],
       [0.11111111],
       [0.08333333]])