In [1]:
import pandas as pd

In [2]:
bike = pd.read_csv("bike.csv")

In [3]:
bike.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [4]:
quan_025 = bike["casual"].quantile(0.25)

In [5]:
quan_075 = bike["casual"].quantile(0.75)

In [6]:
stat_iqr = quan_075 - quan_025
stat_iqr

45.0

In [7]:
sum(bike["casual"] > quan_075 + 1.5 * stat_iqr)

749

In [8]:
cou_025 = bike["count"].quantile(0.25)
cou_075 = bike["count"].quantile(0.75)
cou_iqr = cou_075 - cou_025

sum(bike["count"] > cou_075 + 1.5 * cou_iqr)

300

In [9]:
sum(bike["count"] < cou_025 - 1.5 * cou_iqr)

0

In [10]:
cond_1 = bike["count"] > cou_075 + 1.5 * cou_iqr
cond_2 = bike["count"] < cou_025 - 1.5 * cou_iqr

In [11]:
bike_out = bike.loc[cond_1 | cond_2, ]
bike_out.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
6611,2012-03-12 18:00:00,1,0,1,2,24.6,31.06,43,12.9980,89,623,712
6634,2012-03-13 17:00:00,1,0,1,1,28.7,31.82,37,7.0015,62,614,676

In [12]:
cond_11 = bike["count"] <= cou_075 + 1.5 * cou_iqr
cond_22 = bike["count"] >= cou_025 - 1.5 * cou_iqr
bike_in = bike.loc[cond_11 & cond_22, ]
bike_in.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [13]:
bike_in = bike.loc[(cond_1 | cond_2) != True, ]
bike_in.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [14]:
bike_in = bike.loc[(cond_1 | cond_2) == False, ]
bike_in.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [15]:
bike_in = bike.loc[~(cond_1 | cond_2), ]
bike_in.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [16]:
bike["casual"].skew()

2.4957483979812567

In [17]:
bike["casual"].kurt()

7.551629305632764

In [18]:
bike.kurt(numeric_only = True)

season        -1.355661
holiday       30.046975
workingday    -1.397828
weather        0.395533
temp          -0.914530
atemp         -0.850076
humidity      -0.759818
windspeed      0.630133
casual         7.551629
registered     2.626081
count          1.300093
dtype: float64

In [19]:
bike = pd.read_csv("bike.csv")
bike_sub = bike[["temp", "atemp", "casual", "registered"]]
bike_sub.head(2)

   temp   atemp  casual  registered
0  9.84  14.395       3          13
1  9.02  13.635       8          32

In [20]:
bike_sub.corr()

                temp     atemp    casual  registered
temp        1.000000  0.984948  0.467097    0.318571
atemp       0.984948  1.000000  0.462067    0.314635
casual      0.467097  0.462067  1.000000    0.497250
registered  0.318571  0.314635  0.497250    1.000000

In [21]:
bike_sub.corr(method = "kendall")

                temp     atemp    casual  registered
temp        1.000000  0.955043  0.413319    0.240250
atemp       0.955043  1.000000  0.410275    0.237979
casual      0.413319  0.410275  1.000000    0.582213
registered  0.240250  0.237979  0.582213    1.000000

In [22]:
!pip install scipy

Requirement already satisfied: scipy in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (1.7.1)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from scipy) (1.21.3)

In [23]:
bike_sub.corr(method = "pearson")

                temp     atemp    casual  registered
temp        1.000000  0.984948  0.467097    0.318571
atemp       0.984948  1.000000  0.462067    0.314635
casual      0.467097  0.462067  1.000000    0.497250
registered  0.318571  0.314635  0.497250    1.000000

In [24]:
bike_sub.corr(method = "spearman")

                temp     atemp    casual  registered
temp        1.000000  0.987128  0.573034    0.352174
atemp       0.987128  1.000000  0.571588    0.350577
casual      0.573034  0.571588  1.000000    0.775785
registered  0.352174  0.350577  0.775785    1.000000

In [25]:
bike_sub.corr().round(2)

            temp  atemp  casual  registered
temp        1.00   0.98    0.47        0.32
atemp       0.98   1.00    0.46        0.31
casual      0.47   0.46    1.00        0.50
registered  0.32   0.31    0.50        1.00

In [26]:
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from scipy.stats import kendalltau

In [27]:
stat, p = pearsonr(bike_sub["temp"], bike_sub["casual"])
print(stat)
print(p)

0.46709706412013285
0.0

In [28]:
stat, p = spearmanr(bike_sub["temp"], bike_sub["casual"])
print(stat)
print(p)

0.5730339864588696
0.0

In [29]:
stat, p = kendalltau(bike_sub["temp"], bike_sub["casual"])
print(stat)
print(p)

0.41331946434495725
0.0

In [30]:
kendalltau(bike_sub["temp"], bike_sub["casual"])

KendalltauResult(correlation=0.41331946434495725, pvalue=0.0)

In [31]:
dia = pd.read_csv("diamonds.csv")
dia.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [32]:
dia_e = dia.loc[dia["color"] == "E", ]
dia_h = dia.loc[dia["color"] == "H", ]
print(len(dia_e))
print(len(dia_h))

9797
8304

In [33]:
from scipy.stats import bartlett
bartlett(dia_e["price"], dia_h["price"])

BartlettResult(statistic=484.16407135967086, pvalue=2.6525226756537817e-107)

In [34]:
stat, p = bartlett(dia_e["price"], dia_h["price"])
print(stat)
print(p)

484.16407135967086
2.6525226756537817e-107

In [35]:
stat.round(2)

484.16

In [36]:
round(p, 5)

0.0

In [37]:
from scipy.stats import chi2_contingency
df = pd.read_csv("traffic_accident.txt", sep = "\t")

In [38]:
df.head(2)

   seq sex serious_yn  age
0    1   M          N    3
1    2   M          N    6

In [39]:
pd.crosstab(df["serious_yn"], df["sex"])

sex           F    M
serious_yn
N           296  670
Y            21   80

In [40]:
chi2_contingency(pd.crosstab(df["serious_yn"], df["sex"]))

(3.7895026717172966,
 0.051574970410524265,
 1,
 array([[286.99343955, 679.00656045],
        [ 30.00656045,  70.99343955]]))

In [41]:
chi2_contingency(pd.crosstab(df["serious_yn"], df["sex"]), correction = False)

(4.248074934656112,
 0.03929484927552679,
 1,
 array([[286.99343955, 679.00656045],
        [ 30.00656045,  70.99343955]]))

In [42]:
chi2_contingency(pd.crosstab(df["serious_yn"], df["age"]))

(9.410466679276956,
 0.051619825959927854,
 4,
 array([[193.74320525, 199.17525773, 209.13402062, 186.5004686 ,
         177.4470478 ],
        [ 20.25679475,  20.82474227,  21.86597938,  19.4995314 ,
          18.5529522 ]]))

In [80]:
import pandas as pd
df = pd.read_csv("bank.csv", sep = ";")
df.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no

In [81]:
df["age_g"] = df["age"] // 10
df.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,age_g
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,3
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,3

In [82]:
from scipy.stats import pearsonr

In [83]:
stat, p = pearsonr(df["age"], df["balance"])

In [84]:
print(stat)
print(p)

0.08382014224477766
1.658480874647685e-08

In [90]:
from scipy.stats import chi2_contingency
stat, p, dof, exp = chi2_contingency(pd.crosstab(df["marital"], df["y"]))
print(p)

7.373535401823763e-05

In [91]:
chi2_contingency(pd.crosstab(df["marital"], df["y"]))

(19.03005634409817,
 7.373535401823763e-05,
 2,
 array([[ 467.15328467,   60.84671533],
        [2474.67374475,  322.32625525],
        [1058.17297058,  137.82702942]]))

In [92]:
import pandas as pd
from scipy.stats import ttest_1samp

In [99]:
!pip install openpyxl --user

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 5.2 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [100]:
df = pd.read_excel("iris_xlsx.xlsx")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [101]:
stat, p = ttest_1samp(df["Sepal.Length"], popmean = 4)
print(stat)
print(p)

27.263680640799215
8.764592435410748e-60

In [102]:
df["Sepal.Length"].mean()

5.843333333333334

In [103]:
from scipy.stats import ttest_rel
from scipy.stats import ttest_ind

In [104]:
ttest_rel(df["Sepal.Length"], df["Sepal.Width"])

Ttest_relResult(statistic=34.81519257082818, pvalue=1.8495537347987982e-73)

In [105]:
ttest_ind(df["Sepal.Length"], df["Sepal.Width"])

Ttest_indResult(statistic=36.463283934449116, pvalue=7.027919392009369e-112)

In [106]:
ttest_ind(df["Sepal.Length"], df["Sepal.Width"], equal_var = True)

Ttest_indResult(statistic=36.463283934449116, pvalue=7.027919392009369e-112)

In [107]:
ttest_ind(df["Sepal.Length"], df["Sepal.Width"], equal_var = False)

Ttest_indResult(statistic=36.46328393444912, pvalue=1.4595425075861685e-96)

In [108]:
from scipy.stats import f_oneway

In [109]:
stat, p = f_oneway(df["Sepal.Length"], df["Sepal.Width"], df["Petal.Length"])
print(stat)
print(p)

236.75163298404746
7.657188374182084e-71

In [111]:
!pip install statsmodels --user

Collecting statsmodels
  Downloading statsmodels-0.13.0-cp38-cp38-macosx_10_15_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 5.5 MB/s
Requirement already satisfied: numpy>=1.17 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from statsmodels) (1.21.3)
Requirement already satisfied: pandas>=0.25 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from statsmodels) (1.3.4)
Requirement already satisfied: scipy>=1.3 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from statsmodels) (1.7.1)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.2-py2.py3-none-any.whl (233 kB)
     |████████████████████████████████| 233 kB 10.6 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25->statsmodels) (2021.3)
Requirement already satisfied: six in /Users/parkdonghyeok/opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.2 statsmodels-0.13.0

In [113]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [114]:
df = pd.read_csv("diamonds.csv")
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [115]:
formula = "price ~ C(cut)"
lm = ols(formula, df).fit()
anova_lm(lm)

               df        sum_sq       mean_sq           F         PR(>F)
C(cut)        4.0  1.104175e+10  2.760436e+09  175.688717  8.428307e-150
Residual  53935.0  8.474314e+11  1.571209e+07         NaN            NaN

In [116]:
formula = "price ~ cut"
lm = ols(formula, df).fit()
anova_lm(lm)

               df        sum_sq       mean_sq           F         PR(>F)
cut           4.0  1.104175e+10  2.760436e+09  175.688717  8.428307e-150
Residual  53935.0  8.474314e+11  1.571209e+07         NaN            NaN

In [117]:
df = pd.read_csv("bike.csv")
bike.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [118]:
lm = ols("temp ~ C(season)", df).fit()
anova_lm(lm)

                df         sum_sq        mean_sq            F  PR(>F)
C(season)      3.0  412885.270005  137628.423335  6040.687453     0.0
Residual   10882.0  247930.804947      22.783570          NaN     NaN

In [119]:
lm = ols("temp ~ season", df).fit()
anova_lm(lm)

               df         sum_sq       mean_sq           F         PR(>F)
season        1.0   44221.657301  44221.657301  780.591754  5.879560e-166
Residual  10884.0  616594.417651     56.651453         NaN            NaN

In [120]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [121]:
df = pd.read_csv("diamonds.csv")
pos = pairwise_tukeyhsd(df["price"], df["cut"])
print(pos)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
 group1   group2   meandiff p-adj    lower      upper   reject
--------------------------------------------------------------
   Fair      Good -429.8933 0.0015  -740.4567 -119.3299   True
   Fair     Ideal -901.2158  0.001 -1180.5785 -621.8531   True
   Fair   Premium  225.4999  0.195   -59.2739  510.2738  False
   Fair Very Good -376.9979 0.0031  -663.8694  -90.1263   True
   Good     Ideal -471.3225  0.001   -642.367 -300.2779   True
   Good   Premium  655.3933  0.001   475.6466  835.1399   True
   Good Very Good   52.8954    0.9  -130.1565  235.9474  False
  Ideal   Premium 1126.7157  0.001  1008.8058 1244.6257   True
  Ideal Very Good  524.2179  0.001   401.3281  647.1078   True
Premium Very Good -602.4978  0.001  -737.2366 -467.7591   True
--------------------------------------------------------------