In [2]:
import pandas as pd
import numpy as np

In [ ]:
import os
print(os.getcwd()) # 작업경로 확인
print()
print(os.listdir()) # 경로내 파일 확인

# 1. 수학 연산자

In [ ]:
2 ** 4 # 제곱

In [ ]:
5 / 3 # 나누기

In [ ]:
5 // 3 # 나누기의 몫

In [ ]:
5 % 3 # 나누기의 나머지

# 2. 논리 연산자

#### ==<br>
#### !=<br>
#### ><br>
#### >=<br>
#### <<br>
#### <=<br>

# 3. array

In [ ]:
import numpy as np
arr_1 = np.array([1, 2, 3])
arr_2 = np.array([4, 5, 6])
arr_1 + arr_2              # array의 합

In [ ]:
arr > 2 # array는 논리 연산자에 대해 true, false로 반환

In [ ]:
arr = np.array([1,2,3,4,5,6])
print(arr)

print(arr > 3)
print(arr >= 3)
print(arr == 3)
print(arr != 3)

In [ ]:
np.where(arr > 3, 1, 0) # 조건에 해당하는 부분을 1, 그렇지 않은 부분을 0

# 4. list

In [ ]:
L_a = [1, 2, 3]
L_b = [4,5,6]

print(L_a + L_b)        # 리스트의 합은 두 리스트를 옆으로 붙히는 것

In [ ]:
L_a.extend([4, 5, "a", "b"])   # 리스트의 확장
print(L_a)

L_a.append(["c", "d"])         # 리스트의 확장
print(L_a)

In [ ]:
print(L_a)
L_a.index(3)       # 리스트 L_a의 원소 3의 위치                        ###########################################################

In [ ]:
type(L_a)      # a의 자료형

In [ ]:
a = [1,2,3,4,5,6]

listt = [num for num in a if num % 2 == 0]  # list 의 원소 중 조건에 해당하는 원소를 listt에 추가
print(listt)

listt1 = []
for num in a:                         # list 의 원소 중 조건에 해당하는 원소를 listt에 추가
    if num % 2 == 0:
        listt1.extend([num])
print(listt1)

# 5. dictionary

In [ ]:
D_a = {"k" : [1,2,3]}
print(D_a)               #dictionary

In [ ]:
print(D_a.values)      # ?

# 6. 문자열

In [ ]:
S_a = "abc"
S_b = S_a.upper()  # 소문자를 대문자로 변환

print(S_b) 

S_c = S_b.lower()  # 대문자를 소문자로 변환
print(S_c)

In [ ]:
S_d = "010-1234-5678"
S_d.split("-")   # 문자열을 특정한 기준으로 나누기

In [ ]:
"".join(["1", "2", "3"]) #문자열 합치기

# 7. range

In [ ]:
print(range(5)) # 0 ~ 5의 범위
print(list(range(5))) # 0 이상 5 미만의 정수 list

In [ ]:
list(range(1,10,2)) # 1 이상 10 미만의 정수 step = 2

# 8. 반복문

In [ ]:
for i in range(1, 5): # 반복문
    print(i)

# 9. 코드 진행 시간 확인

In [ ]:
from tqdm.notebook import tqdm
import time
for char in tqdm(["a", "b", "c", "D"]): # 코드를 실행하는데 걸리는 시간 측정
    print(char)        
    time.sleep(1) # 코드 진행 중 1초 정자(쉼)

# 10. 사용자 정의 함수

In [ ]:
def f(x):                          # 함수 정의
    a = sum(x) / len(x)
    return(a)
f(a)

# 11. 특정한 분포에서 난수 추출

In [ ]:
np.random.chisquare(2, 10) # 자유도가 2인 카이제곱분포에서 10개의 난수 추출
                            #np.random.분포의 이름()

# 12. series

In [ ]:
import pandas as pd
ser = pd.Series([1,2,3,4,5,5])
ser

In [ ]:
ser.values # 원소 확인

In [ ]:
ser.index # Index 확인

In [ ]:
ser[ser > 2] # series에서 조건에 해당하는 원소만 추출

In [ ]:
ser.astype(object) # datatype 변환

In [ ]:
ser.reset_index() # 인덱스 초기화

In [ ]:
ser.reset_index(drop = True) # 인덱스 초기화 / 이전 인덱스 삭제

In [ ]:
ser = pd.Series([1, 2, pd.NA, 4])
ser

In [ ]:
print(ser.isna()) # 결측치가 true                                     ###########################################################
print()
print(ser.isnull()) # 결측치가 true

In [ ]:
print(ser.notna()) # 관측치가 true
print()
print(ser.notnull())

In [ ]:
ser[ser.isna()] # 결측치 row 추출

In [ ]:
ser[ser.notna()] # 관측치 row 추출

In [ ]:
ser[ser.isna()] = 99 # 결측치 대체하기
ser

In [ ]:
ser = pd.Series(["2021-11-21", "2021-11-22"])
ser

In [ ]:
pd.to_datetime(ser) # 자료형을 date time으로 변경                        ###########################################################

In [ ]:
ser = pd.Series(["2021년 11월 21일", "2021년 11월 22일"])
ser

In [ ]:
pd.to_datetime(ser, format = "%Y년 %m월 %d일") # 자료형을 date time으로 변경(형식 지정)  ###########################################################

In [ ]:
ser = pd.to_datetime(pd.Series([1,2,1000, 3000]), unit = "D", origin = "2021-01-01") # 특정 날짜부터 n일 뒤
ser

In [ ]:
ser.dt.year # 년도만 추출                                               ###########################################################

In [ ]:
ser.dt.month # 월 만 추출                                                 ###########################################################

In [ ]:
ser.dt.day #일 만 추출                                                   ###########################################################

In [ ]:
ser.dt.weekday # 요일만 추출(0 :월, 6 :일)                                   ###########################################################

In [ ]:
from sklearn.metrics import mean_squared_error 
ser1 = pd.Series([1,2,3,4,5,6])
ser2 = pd.Series([1,3,2,5,5,6])
mean_squared_error(ser1, ser2)# MSE                                    ###########################################################

In [ ]:
mean_squared_error(ser1, ser2) ** 0.5# RMSE                              ###########################################################

# 13. dataframe

In [ ]:
df = pd.DataFrame({"aa" : [1,2,3], "bb" : ["a", "b", "c"]})
df

In [ ]:
df.columns # columns 이름 확인

In [ ]:
print(df.shape) # row, col 개수 확인
print(df.shape[0]) # row 개수
print(df.shape[1]) # col 개수

In [ ]:
print(df.aa) # 'aa' col의 원소 확인
print(df["aa"])
print(df.loc[:, "aa"])
print(df.iloc[:, 0])

In [ ]:
df.index # index 범위 확인

In [ ]:
df = df.rename(columns = {"aa" : "xx"}) # col 이름 변경                  ###########################################################
print(df)

In [ ]:
df1 = pd.DataFrame([[1, "b"], [4, "c"], [5, "d"]], columns = ["a", "b"])
print(df1)
print()

pd.concat([df, df1]) # dataframe 합치기

In [ ]:
bike = pd.read_csv("bike.csv")
bike.head(1)

In [ ]:
print(bike["atemp"].min()) # 최소값
print(bike["atemp"].max()) # 최대값

print(bike["atemp"].mean()) # 평균
print(bike["atemp"].median()) #중앙값
print(bike["atemp"].mode()) # 최빈값

print(bike["atemp"].var()) # 분산
print(bike["atemp"].std()) # 표준편차

In [ ]:
print(bike[["atemp", "temp"]].min()) # 최소값
print()
print(bike[["atemp", "temp"]].max()) # 최대값
print()
print(bike[["atemp", "temp"]].median()) #중앙값
print()
print(bike[["atemp", "temp"]].mode()) # 최빈값
print()
print(bike[["atemp", "temp"]].var()) # 분산
print()
print(bike[["atemp", "temp"]].std()) # 표준편차

In [ ]:
bike.loc[:, ["temp", "atemp"]].mean()

In [ ]:
bike.loc[:, ["temp", "atemp"]].mean().reset_index()

In [ ]:
bike.loc[:, ["temp", "atemp"]].mean(axis = 0).reset_index() # col 기준

In [ ]:
bike.loc[:, ["temp", "atemp"]].mean(axis = 1).reset_index() # row 기준

In [ ]:
bike["season"].unique() # season" col의 원소의 종류(중복제거, 고유한 원소)       ###########################################################

In [ ]:
bike["season"].nunique() # "season" col의 원소의 종류의 개수(고유한 원소의 개수)   ###########################################################

In [ ]:
bike["season"].value_counts() # 각 고유 원소의 등장 빈도                     ###########################################################

In [ ]:
bike["season"].value_counts(normalize = True) # 각 고유 원소의 등장 비율

In [ ]:
bike["temp"] > 20 #조건에 해당하면 true, 그렇지 않으면 false

In [ ]:
df_up_20 = bike[bike["temp"] > 20] # temp > 20인 데이터 추출
print(len(df_up_20))                # temp > 20인 데이터의 개수

df1_up_20 = bike.loc[bike["temp"] > 20, :] 
print(len(df1_up_20))

In [ ]:
bike["season"].isin([2,4]) # season의 원소가 2 또는 4인가                  ###########################################################

In [ ]:
bike_s2_s4 = bike.loc[bike["season"].isin([2,4]), ["datetime", "season", "temp"]]
bike_s2_s4 # season의 원소가 2 또는 4이고, col 이름이 datatime,..인 dataframe 추출

In [ ]:
bike1_s2_s4 = bike.loc[(bike["season"] == 2) | (bike["season"] == 4), ["datetime", "season", "temp"] ]
bike1_s2_s4 # season의 원소가 2 또는 4이고, col 이름이 datatime,..인 dataframe 추출

In [ ]:
bike_sub = bike.loc[(bike["workingday"] == 1) & (bike["humidity"] <= 60), ]
bike_sub # worfingday =1 이고 humidity가 60 이하인 row

In [ ]:
print(bike["temp"].quantile(0.25)) # 1Q
print(bike["temp"].quantile(0.5))  # 2Q(median)
print(bike["temp"].quantile(0.75)) # 3Q
print(bike["temp"].quantile(0.01)) # 하위 1%
print(bike["temp"].quantile(0.99)) # 상위 1%
print()
print(bike["temp"].quantile(0.75) - bike["temp"].quantile(0.25)) # 사분위 범위(3Q - 1Q)

In [ ]:
df = pd.DataFrame({"a" : [1,2,pd.NA], "b" : [4, 5, 6]})
df

In [ ]:
print(df.isna()) # 결측치가 true
print(df.isnull())

In [ ]:
print(df.notna()) # 관측치가 true
print(df.notnull())

In [ ]:
df = pd.read_csv("iris_missing.csv")
df.head()

In [ ]:
sum(df["Sepal.Length"].isna()) # 결측치 개수(특정 dol)

In [ ]:
df["Sepal.Length"].isna().sum()

In [ ]:
df.isna().sum().reset_index() # 각 col별 결측치 개수

In [ ]:
df.isna().sum().reset_index().loc[:, 0].sum() # 결측치 개수 총합

In [ ]:
df.iloc[:, : -1].head() # 마지막 변수 제거

In [ ]:
df.dropna().head() # 결측치가 하나라도 있는 row를 제거   ###########################################################

In [ ]:
df.dropna(how = "all").head() #모든 col에 결측치가 있는 row만 제거

In [ ]:
df.fillna(999).head() # 결측치 대체                   ###########################################################

In [ ]:
df.fillna({"Sepal.Width" : 999, "Petal.Length" : 9999}).head() # 각 col별로 결측치 대체 구분

In [ ]:
audi = pd.read_csv("car/audi.csv")
audi.head(2)

In [ ]:
audi.sort_values("price").head() # 특정 col 기준 오름차순 정렬     ###########################################################

In [ ]:
audi.sort_values("price", ascending = False).head() # 특정 col 기준 내림차순 정렬

In [ ]:
audi.sort_values(["year", "price"], ascending = [False, True]).head() 
# 각 col 별 오름/내림차순으로 정렬

In [ ]:
cnt = audi["year"].value_counts().reset_index()
cnt.rename(columns = {"index" : "year", "year" : "count"}, inplace = True)
# 연도별 차량 대수 확인
cnt

In [ ]:
audi["model"].value_counts(normalize = True).sort_values(ascending = False).round(3)
# model별 차량 대수의 비율

In [ ]:
audi["tax_ratio"] = audi["tax"] / audi["price"]
audi["tax_ratio"].mean() #차량 가격대비 세금 비율의 평균

In [ ]:
audi.sample(5) # 5개의 샘플 추출                 ###########################################################

In [ ]:
audi.sample(5, random_state = 123) # 5개의 샘플 추출(결과 고정)

In [ ]:
frac_20 = audi.sample(frac = 0.2)
len(frac_20) # 20% 샘플링

In [ ]:
frac1_20 = audi.sample(frac = 0.2, random_state = 123)
print(audi.head(3)) # 20% 샘플링
len(frac1_20)

In [ ]:
df = pd.read_csv("bike.csv")
df.head(1)
df_1 = df.head()
df_2 = df.tail()

In [ ]:
pd.concat([df_1, df_2]) # col 기준으로 df합치기                ###########################################################

In [ ]:
pd.concat([df_1, df_2], axis = 1) # index 기준으로 df 합치기

In [ ]:
pd.concat([df_1, df_2.reset_index()], axis = 1) # index를 초기화해서 좌우로 붙히기

In [ ]:
pd.concat([df_1, df_2.reset_index(drop = True)], axis = 1) # index를 초기화해서 좌우로 붙히기

In [ ]:
bank = pd.read_csv("bank.csv", sep = ";")
bank.head(2)

In [ ]:
bank.groupby("job")["balance"].mean() # job을 기준으로 groupby한것의 balance 평균   ###########################################################

In [ ]:
bank.groupby("job")["balance"].mean().reset_index() # job을 기준으로 groupby한것의 balance 평균

In [ ]:
bank.groupby(["job", "marital"])["balance"].mean().reset_index()

In [ ]:
dia = pd.read_csv("diamonds.csv")
dia.head(2)

In [ ]:
pd.crosstab(dia["color"], dia["cut"]) # 교차표   ###########################################################

In [ ]:
pd.crosstab(dia["color"], dia["cut"], normalize = True) # 모두 더하면 1

In [ ]:
pd.crosstab(dia["color"], dia["cut"], normalize = 0) # 각 row를 더하면 1

In [ ]:
pd.crosstab(dia["color"], dia["cut"], normalize = 1) # 각 col을 더하면 1

In [ ]:
elec = pd.read_csv("elec_load.csv")
elec.head(2)

In [ ]:
elec.melt(id_vars = ["YEAR", "MONTH", "DAY"]) # melting reshape   ###########################################################

In [ ]:
bike = pd.read_csv("bike.csv")
print(bike["casual"].skew()) # 왜도    ###########################################################
print(bike["casual"].kurt()) # 첨도

In [ ]:
bike.skew(numeric_only = True)

In [ ]:
bike_sub = bike[["temp", "atemp", "casual", "registered"]]

In [ ]:
bike_sub.corr() # pearson 상관계수    ###########################################################

In [ ]:
from scipy.stats import pearsonr
pearsonr(bike_sub["temp"], bike_sub["casual"]) # pearson 상관계수, p-value

In [ ]:
bike_sub.corr(method = "spearman") # spearman 상관계수

In [ ]:
from scipy.stats import spearmanr
spearmanr(bike_sub["temp"], bike_sub["casual"]) # spearman 상관계수, p-value

In [ ]:
bike_sub.corr(method = "kendall") # kendall 상관계수

In [ ]:
from scipy.stats import kendalltau
kendalltau(bike_sub["temp"], bike_sub["casual"]) #kendall 상관계수, p-value

In [ ]:
from scipy.stats import bartlett
bartlett(bike_sub["temp"], bike_sub["casual"]) # bartlett검정 : 분산이 같은가   ###########################################################

In [ ]:
df = pd.read_csv("traffic_accident.txt", sep = "\t")
df.head(2)

In [ ]:
from scipy.stats import chi2_contingency       ###########################################################
chi2_contingency(pd.crosstab(df["sex"], df["serious_yn"])) # chi-square 검정 : 독립인가

In [ ]:
df = pd.read_excel("iris_xlsx.xlsx")
df.head(2)

In [ ]:
from scipy.stats import ttest_1samp    ###########################################################
ttest_1samp(df["Sepal.Length"], popmean = 4) # one sample t-test : 자료의 평균이 모평균과 같은가

In [ ]:
from scipy.stats import ttest_rel
ttest_rel(df["Sepal.Length"], df["Sepal.Width"]) # paired t-test : 연관된 두 모집단의 평균이 같은가

In [ ]:
from scipy.stats import ttest_ind
ttest_ind(df["Sepal.Length"], df["Petal.Length"]) # two sample t-test : 독립인 두 모집단의 평균이 같은가
                                                  # 이분산 가정

In [ ]:
from scipy.stats import ttest_ind
ttest_ind(df["Sepal.Length"], df["Petal.Length"], equal_var = False) # two sample t-test : 독립인 두 모집단의 평균이 같은가
                                                                     # 이분산 가정

In [ ]:
from scipy.stats import ttest_ind
ttest_ind(df["Sepal.Length"], df["Petal.Length"], equal_var = True) # two sample t-test : 독립인 두 모집단의 평균이 같은가
                                                                    # 등분산 가정

In [ ]:
from scipy.stats import f_oneway                   ###########################################################
f_oneway(df["Sepal.Length"], df["Sepal.Width"], df["Petal.Length"]) # one-way ANOVA : 두 개 이상의 표본(집단)의 평균이 모두 같은가
                                                                    # 종속변수 1, 독립변수 1

In [ ]:
df = pd.read_csv("diamonds.csv")
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm      ###########################################################

lm = ols("price ~ cut", df).fit() # two-way ANOVA : 두개 이상의 집단 간 차이가 존재하는가
anova_lm(lm)                      # 종속변수 1, 독립변수 2

In [ ]:
lm = ols("price ~ C(cut)", df).fit() # two-way ANOVA : 두개 이상의 집단 간 차이가 존재하는가
anova_lm(lm)

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
result = pairwise_tukeyhsd(df["price"], df["cut"]) # tukey 검정 : 각 수준별 차이가 존재하는가
print(result)                                      # true : 귀무가설 기각, 즉 차이가 존재한다.

In [ ]:
df = pd.read_csv("bike.csv")
df.head(2)

In [ ]:
from sklearn.model_selection import train_test_split # traintin 자료와 test 자료로 나누기
df_train, df_test = train_test_split(df, train_size = 0.7)      ###########################################################
print(len(df_train))
df_train, df_test = train_test_split(df, test_size = 0.3)
print(len(df_train))

In [ ]:
iris = pd.read_excel("iris_xlsx.xlsx")
iris.head(2)

In [ ]:
iris_sub = iris.iloc[:2, :-1]
iris_sub

In [ ]:
iris_sub_t = iris_sub.transpose() # 전치
iris_sub_t

In [ ]:
iris_sub_t["diff_sq"] = (iris_sub_t[0] - iris_sub_t[1]) **2
iris_sub_t # 편차의 제곱

In [ ]:
iris_sub_t["diff_sq"].sum()

In [ ]:
iris_sub_t["diff_sq"].sum() ** 0.5 # 유클리디안 거리

In [ ]:
from scipy.spatial.distance import euclidean # 유클리디안 거리
euclidean(iris_sub_t[0], iris_sub_t[1])

In [ ]:
from sklearn.preprocessing import MinMaxScaler # Min-Max 정규화    ###########################################################
mm = MinMaxScaler().fit_transform(iris[["Sepal.Length"]])
mm[:5]

In [ ]:
print(max(mm))
print(min(mm))

In [ ]:
from sklearn.preprocessing import StandardScaler # 표준정규화    ###########################################################
sd = StandardScaler().fit_transform(iris[["Sepal.Length"]])
sd[:5]

In [ ]:
print(sd.std())
print(sd.mean().round(3))

In [ ]:
df = pd.read_csv("linear_regression_01.csv")
df.head(2)

In [ ]:
from statsmodels.formula.api import ols # 단순선형회귀분석   ###########################################################
model = ols("y ~ x", data = df).fit()
model.summary()

In [ ]:
pred = model.predict(df) # 적합된 회귀식으로 예측
pred

In [ ]:
df["y"].shape

In [ ]:
pred.shape

In [ ]:
mean_squared_error(df["y"], pred) # MSE   ###########################################################

In [ ]:
mean_squared_error(df["y"], pred) ** 0.5 # RMSE

In [ ]:
model.predict(pd.DataFrame({"x" : [3]})) # 특정 독립변수일때 예측값

In [ ]:
from sklearn.linear_model import LinearRegression    ###########################################################
model = LinearRegression().fit(df[["y"]], df[["x"]])
print(model.coef_) # 회귀계수
print(model.intercept_) # 절편

In [ ]:
model.predict(iris.loc[:3, ["PL"]])

In [3]:
df = pd.read_csv("logistic_regression_01.csv")
df.head(2)

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3

In [4]:
from statsmodels.api import Logit # 로지스틱 회귀분석
model = Logit(df[["admit"]], df.drop("admit", axis = 1)).fit()

Optimization terminated successfully.
         Current function value: 0.586372
         Iterations 5

In [5]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  400
Model:                          Logit   Df Residuals:                      397
Method:                           MLE   Df Model:                            2
Date:                Sat, 27 Nov 2021   Pseudo R-squ.:                 0.06176
Time:                        13:12:04   Log-Likelihood:                -234.55
converged:                       True   LL-Null:                       -249.99
Covariance Type:            nonrobust   LLR p-value:                 1.971e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
gre            0.0015      0.001      1.420      0.155      -0.001       0.004
gpa           -0.0042      0.201     -0.021      0.983      -0.398       0.390
rank          -0.6695      0.121     -5.527      0.000      -0.907      -0.432
==============================================================================
"""

In [6]:
model.params

gre     0.001477
gpa    -0.004167
rank   -0.669538
dtype: float64

In [7]:
np.exp(model.params) # Odd Ratio

gre     1.001478
gpa     0.995842
rank    0.511945
dtype: float64

In [ ]:
pred = model.predict(df.drop("admit", axis = 1))
pred

In [ ]:
pred_admit = pred > 0.5
pred_admit[:5]

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(df["admit"], pred_admit)

In [ ]:
pd.crosstab(df["admit"], pred_admit)

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(df["admit"], pred)

In [ ]:
from sklearn.tree import DecisionTreeClassifier